@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-within {
    outline: inherit;
}

.container {
    @apply mx-auto;
}


a {
    @apply no-underline select-none;
}

[type="number"] {
    @apply border rounded-md text-center appearance-none;
}


.navlink.active {
    @apply bg-slate-700 text-slate-50;
}

.btn {
    @apply cursor-pointer border rounded-md duration-300 select-none;
}

.btn.icon {
    @apply flex gap-1 items-center;
}

.circle {
    @apply rounded-full w-[25px] h-[25px] cursor-pointer border opacity-75 border-white duration-150;
}

.circle:hover {
    @apply opacity-100;
}

.search {
    @apply bg-transparent duration-300 border border-white
}

.search:focus {
    @apply bg-slate-100;
}

.add-to-fav {
    @apply duration-300 cursor-pointer;
}

.add-to-fav:hover {
    @apply text-red-700
}

/* Override react-image-gallary */
.image-gallery-content .image-gallery-slide .image-gallery-image {
    aspect-ratio: 1 / 1;
    object-fit: contain;
}